<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Serviços da Página</h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-12">
                <div *ngIf="formErrors.cep && type=='CEP'" class="alert alert-danger">
                    {{ formErrors.cep }}
                </div>
                <div *ngIf="formErrors.rast && type=='Rastreio'"  class="alert alert-danger">
                        {{ formErrors.rast }}
                    </div>
                <div class="input-group">
                    <form [formGroup]="UserForm" >
                        <input type="text" disabled  placeholder="Por favor escolha uma opcão ao lado.!!" class="form-control" aria-label="..." required *ngIf="type=='Tipo'">                             
                        <input type="text" id="cep" formControlName="cep" placeholder="CEP Ex:79400000" class="form-control" aria-label="..." required *ngIf="type=='CEP'"> 
                        <input type="text" id="rast" formControlName="rast" placeholder="Código de Rastreiamento Ex:RY908347422SG" class="form-control" aria-label="..." required *ngIf="type=='Rastreio SOAP' || type=='Rastreio REST'"  >
                    </form>
                    <div class="input-group-btn">

                        <button type="button" class="btn btn-default" (click)="buscar()"  ><span class="glyphicon glyphicon-search"></span></button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{type}} <span class="caret"></span></button>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" (click)="type='CEP'">CEP</a></li>
                            <li><a href="#" (click)="type='Rastreio SOAP'">Rastreio SOAP</a></li>
                            <li><a href="#" (click)="type='Rastreio REST'">Rastreio REST</a></li>
                        </ul>
                    </div>
                    <!-- /btn-group -->
                </div>
                <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->

        </div>
        <!-- /.row -->
    </div>
</div>



<div class="panel panel-default" *ngIf="resultCEP.cep !=''|| resultRast.codigo !=''||resultRast2.codigo !='' ">
    <div class="panel-heading">
        <h3 class="panel-title">Resultado do {{type}}</h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-12 col-md-5 mx-auto">


            
            <table class="table" *ngIf="resultCEP !=null || resultCEP.cep!=''">
                <thead class="thead-inverse">
                    <tr>

                        <th *ngIf="resultCEP.cep != ''" scope="row">
                            #
                        </th>
                        <th *ngIf="resultCEP.cep != ''">
                            CEP
                        </th>

                        <th *ngIf="resultCEP.cidade != ''">
                            Cidade
                        </th>
                        <th *ngIf="resultCEP.complemento  != ''">
                            Complemento
                        </th>
                        <th *ngIf="resultCEP.complemento2 != ''">
                            Complemento 2
                        </th>
                        <th *ngIf="resultCEP.bairro != ''">
                            Bairro
                        </th>
                        <th *ngIf="resultCEP.uf != ''">
                            UF
                        </th>
                
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th *ngIf="resultCEP.cep != ''" scope="row">1</th>
                        <td *ngIf="resultCEP.cep != ''">{{resultCEP.cep}}</td>


                        <td *ngIf="resultCEP.cidade != ''">{{resultCEP.cidade}}</td>
                        <td *ngIf="resultCEP.complemento != ''">{{resultCEP.complemento}}</td>
                        
                        <td *ngIf="resultCEP.complemento2 != ''">{{resultCEP.complemento2}}</td>


                        <td *ngIf="resultCEP.bairro != ''">{{resultCEP.bairro}}</td>

                        <td *ngIf="resultCEP.uf != ''">{{resultCEP.uf}}</td>


                    </tr>
                </tbody>
            </table>


            <table class="table" *ngIf="resultRast.codigo != '' && resultRast.codigo != null ">
                <thead class="thead-inverse">
                    <tr>
                        <th *ngIf="resultRast.codigo != ''">
                            #
                        </th>
                        <th *ngIf="resultRast.codigo != ''">
                            Código
                        </th>

                        <th *ngIf="resultRast.data != ''">
                            Data
                        </th>
                        <th *ngIf="resultRast.local  != ''">
                            Local
                        </th>
                        <th *ngIf="resultRast.situacao != ''">
                            Situação
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th *ngIf="resultRast.codigo != ''" scope="row">1</th>
                        <td *ngIf="resultRast.codigo != ''">{{resultRast.codigo}}</td>

                        <td *ngIf="resultRast.data != ''">{{resultRast.data}}</td>

                        <td *ngIf="resultRast.local != ''">{{resultRast.local}}</td>

                        <td *ngIf="resultRast.situacao!= ''">{{resultRast.situacao}}</td>

                    </tr>
                </tbody>
            </table>


            <table class="table" *ngIf="resultRast2.codigo != '' && resultRast2.codigo != null ">
                <thead class="thead-inverse">
                    <tr>
                        <th *ngIf="resultRast2.codigo != ''">
                            #
                        </th>
                        <th *ngIf="resultRast2.codigo != ''">
                            Código
                        </th>

                        <th *ngIf="resultRast2.data != ''">
                            Data
                        </th>
                        <th *ngIf="resultRast2.local  != ''">
                            Local
                        </th>
                        <th *ngIf="resultRast2.descricao != ''">
                            Situação
                        </th>
                        <th *ngIf="resultRast2.destino != ''">
                            Destino
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th *ngIf="resultRast2.codigo != ''" scope="row">1</th>
                        <td *ngIf="resultRast2.codigo != ''">{{resultRast2.codigo}}</td>

                        <td *ngIf="resultRast2.data != ''">{{resultRast2.data}}</td>

                        <td *ngIf="resultRast2.local != ''">{{resultRast2.local}}</td>

                        <td *ngIf="resultRast2.descricao!= ''">{{resultRast2.descricao}}</td>
                        <td *ngIf="resultRast2.destino!= ''">{{resultRast2.destino}}</td>

                    </tr>
                </tbody>
            </table>



        </div>
    </div>
</div>